<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'LOGOUT', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'LOGIN', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
<% end %>


<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li><%= link_to 'Admin', users_path %></li>
  <% end %>
<% end %>


  <li><%= link_to 'LISTINGS', tennis_facilities_path %></li>

  <!--<li><%= link_to 'SEARCH', tennis_facilities_search_path %></li>-->

  <li><%= link_to 'ALERTS', "" %></li>

  <li><%= link_to 'FORUM', "" %></li>
  





 
  

 




